footer
  p last modified on: #{modifyDate}
  p site designed and maintained by <a href='http://www.ornl.gov/~ojg/'>jgoodall</a> / built with <a href='http://twitter.github.com/bootstrap/'>bootstrap</a>
  p content licensed under <a href='https://creativecommons.org/licenses/by/3.0/'>CC BY 3.0</a>

//- try to load jquery from cdn, fall back to local
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script.
  window.jQuery || document.write(unescape('%3Cscript src="js/jquery-1.10.2.min.js"%3E%3C/script%3E'))

//- use bootstrap from cdn
script(src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

script(src="js/scripts.min.js")
