.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/stucco-data') 
        i.icon-home.icon-large
        span &nbsp; Stucco-Data 
      .nav-collapse
        ul.nav
          li: a(href='#endogenous') Endogenous Sources
          li: a(href='#exogenous') Exogenous Sources
        ul.nav.pull-right
          li: a(href='https://github.com/ornl-visual-analytics/stucco-data/zipball/master')
            i.icon-download
            span &nbsp; Download zip
          li: a(href='https://github.com/ornl-visual-analytics/stucco-data/tarball/master')
            i.icon-download
            span &nbsp; Download .tar.gz
          li: a(href='https://github.com/ornl-visual-analytics/stucco-data')
            i.icon-github
            span &nbsp; Github