body {
  padding-top: 45px;
  padding-bottom: 25px;
  background-color: #fff;
}

.hero-unit {
  padding: 30px;
}

.hero-unit h1 {
  margin-bottom: 12px;
}

h1 small {
  font-size: 20px;
}

section {
  margin-top: 25px;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

footer p {
  text-align: center;
  font-size: 70%;
  color: #888;
  margin-bottom: 0px;
}

.navbar-fixed-top .brand {
  padding-right: 20px;
  font-weight: bold;
  color: #666;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.page-header > h2 {
  margin-bottom: -16px;
}

dl.program-list dt {
  width: 100px;
}
dl.program-list dd {
  margin-left: 115px;
}

dl.date-list dt {
  width: 160px;
}
dl.date-list dd {
  margin-left: 170px;
}

dl.paper-list dt {
  padding-top: 10px;
}

@media (max-width: 480px) {
  body {
    padding-top: 0px;
  }
  body > .container {
    padding-top: 0px;
    padding-left: -10px;
    padding-right: -10px;
  }
  .hero-unit {
    padding: 12px;
  }
  .hero-unit h1 {
    font-size: 24px;
  }
  .hero-unit p {
    font-size: 13px;
    line-height: 15px;
  }
  .page-header > h2 {
    border-bottom-color: #aaa;
  }
  h1 small {
    font-size: 13px;
  }
  section {
    margin-top: 15px;
  }
  .dl-horizontal dt {
    width: 120px;
  }
  .dl-horizontal dd {
    margin-left: 130px;
  }
}

@media (min-width: 480px) and (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  .hero-unit {
    padding: 20px;
  }
  .hero-unit h1 {
    font-size: 40px;
  }
  .hero-unit p {
    font-size: 18px;
    line-height: 20px;
  }
  .page-header > h2 {
    border-bottom-color: #aaa;
  }
  h1 small {
    font-size: 16px;
  }
}
