.header-links {
  position: absolute;
  top: 15px;
  right: 15px;
}
.header-links .link-icon {
  margin-left: 10px;
}

header h1 {
  margin-bottom: 10px;
}

section {
  margin-top: 25px;
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

footer p {
  text-align: center;
  font-size: 70%;
  color: #888;
  margin-bottom: 0px;
}

.page-header > h2 {
  margin-bottom: -6px;
}

.table > thead th.sortable {
  cursor: pointer;
}

.table > thead th.header {
  font-weight: 400;
}

.table > thead th.headerSortUp {
  font-weight: 600;
}

.table > thead th.headerSortDown {
  font-weight: 600;
}

.table thead .sortable i {
  color: #666;
}

@media (max-width: 480px) {
  body {
    padding-top: 0px;
  }
  body > .container {
    padding-top: 0px;
    padding-left: -10px;
    padding-right: -10px;
  }
  header h1 {
    font-size: 24px;
  }
  .page-header > h2 {
    border-bottom-color: #aaa;
  }
  header small {
    font-size: 13px;
  }
  section {
    margin-top: 15px;
  }
}

@media (min-width: 480px) and (max-width: 980px) {
  body {
    padding-top: 0px;
  }
  header h1 {
    font-size: 40px;
  }
  .page-header > h2 {
    border-bottom-color: #aaa;
  }
  header small {
    font-size: 16px;
  }
}
