- var modifyDate = 'October 24, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Page Not Found

    section
      p The page you are looking for is not here...

    h2  
      a(href='/') Return to the home page.
          
    include includes/foot