- var modifyDate = 'December 17, 2013'

include includes/head
body
  .container
    header.jumbotron
      h1 Page Not Found

    section
      p The page you are looking for is not here...

    h2  
      a(href='/') Return to the home page.
          
    include includes/foot