- var modifyDate = 'October 24, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Stucco-Data 
        small.hidden-phone  Data sources relevant to cyber security
      h1.visible-phone
        small Data sources relevant to cyber security  
  
    section#exogenous
      .page-header
        h2 Exogenous Data Sources
      table.table.table-hover.tablesorter#exog-table
        thead
          tr
            th: span(rel='tooltip', title='Click on column names to sort by data source') Data source
            th: span(rel='tooltip', title='Click on column names to sort by type') Type
            th: span Description
            th: span(rel='tooltip', title='Click on column names to sort by categories') Categories
        tbody
                                
    section#contributing
      .page-header
        h2 Contributing
      p Use the <a href="https://github.com/ornl-visual-analytics/stucco-data/issues">Github Issues Page</a> for questions, comments and suggestions, or fork, modify and submit a pull request from the <a href="https://github.com/ornl-visual-analytics/stucco-data">Github Project Page</a>.

    include includes/foot