- var modifyDate = 'December 17, 2013'

include includes/head
body

  .header-links
    span.link-icon: a(href='https://github.com/stucco/data')
      i.fa.fa-github.lg
      span &nbsp; Github
    span.link-icon: a(href='https://raw.github.com/stucco/data/master/data/sources.json')
      i.fa.fa-download.lg
      span &nbsp; JSON
  .container
    header
      h1 Stucco-Data 
        small Cyber security data sources
    section#datasources
      p This is a list of data sources that may be useful to cyber security. We are documenting these sources as part of an ongoing project, <a href="http://stucco.github.io/">Stucco</a>. 
      .table-responsive
        table.table.table-hover.tablesorter#datasource-table
          thead
            tr
              th.sortable: span(data-toggle='tooltip', title='Name of the data source. Click to sort by data source') Data source 
                i.fa.fa-sort
              th.sortable: span(data-toggle='tooltip', title='Method of accessing the data source (e.g. API, RSS). Click to sort by type') Type 
                i.fa.fa-sort
              th.sortable: span(data-toggle='tooltip', title='Category of the data source. Click to sort by category') Category 
                i.fa.fa-sort
              th: span Description
              th.sortable.sorter-status: span(data-toggle='tooltip', title='Status for the Stucco project. Click to sort by status') Status 
                i.fa.fa-sort
          tbody
                                
    section#contributing
      .page-header
        h2 Contributing
      p Use the <a href="https://github.com/stucco/data/issues">Github Issues Page</a> for questions, comments and suggestions, or fork, modify and submit a pull request from the <a href="https://github.com/stucco/data">Github Project Page</a>.

    include includes/foot
    