- var modifyDate = 'October 24, 2012'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Stucco-Data 
        small.hidden-phone  Data sources relevant to cyber security
      h1.visible-phone
        small Data sources relevant to cyber security  
  
    section#datasources
      .page-header
        h2 List of Data Sources
      table.table.table-hover.tablesorter#datasource-table(width='95%')
        thead
          tr
            th.sortable: span(rel='tooltip', title='Exogenous (external to an enterprise) or Endogenous (internal to an enterprise). Click to sort by data source') Location &nbsp; 
              i.icon-sort
            th.sortable(width='120px'): span(rel='tooltip', title='Name of the data source. Click to sort by data source') Data source &nbsp; 
              i.icon-sort
            th.sortable: span(rel='tooltip', title='Method of accessing the data source (e.g. API, RSS). Click to sort by type') Type &nbsp; 
              i.icon-sort
            th(width='200px'): span Description
            th.sortable: span(rel='tooltip', title='Category of the data source. Click to sort by categories') Categories &nbsp; 
              i.icon-sort
        tbody
                                
    section#contributing
      .page-header
        h2 Contributing
      p Use the <a href="https://github.com/ornl-visual-analytics/stucco-data/issues">Github Issues Page</a> for questions, comments and suggestions, or fork, modify and submit a pull request from the <a href="https://github.com/ornl-visual-analytics/stucco-data">Github Project Page</a>.

    include includes/foot