- var modifyDate = 'December 17, 2013'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 Stucco-Data 
        small.hidden-phone  Data sources relevant to cyber security
      h1.visible-phone
        small Data sources relevant to cyber security  
  
    section#datasources
      .page-header
        h2 List of Data Sources
      table.table.table-hover.tablesorter#datasource-table
        thead
          tr
            th.sortable(width='25%'): span(rel='tooltip', title='Name of the data source. Click to sort by data source') Data source &nbsp; 
              i.icon-sort
            th.sortable(width='10%'): span(rel='tooltip', title='Method of accessing the data source (e.g. API, RSS). Click to sort by type') Type &nbsp; 
              i.icon-sort
            th(width='40%'): span Description
            th.sortable(width='15%'): span(rel='tooltip', title='Category of the data source. Click to sort by categories') Categories &nbsp; 
              i.icon-sort
            th.sortable(width='10%'): span(rel='tooltip', title='Status for the Stucco project. Click to sort by status') Status &nbsp; 
              i.icon-sort
        tbody
                                
    section#contributing
      .page-header
        h2 Contributing
      p Use the <a href="https://github.com/stucco/data/issues">Github Issues Page</a> for questions, comments and suggestions, or fork, modify and submit a pull request from the <a href="https://github.com/stucco/data">Github Project Page</a>.

    include includes/foot